*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'courier';
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(83,146,255,1) 50%, rgba(16,51,237,1) 100%);
}

.container {
    height: 100vh;
}

.grid-center {
    display: grid;
    place-items: center;
}

.account {
    height: 700px;
    width: 1100px;
    display: flex;
    background-color: #bbb;
    padding: 0px;
}

.svg {
    background-color: #eee;
    height: 700px;
    width: 450px;
}

.svg svg {
    height: 80%;
    width: 80%;
}

.info {
    background-color: #fff;
    height: 700px;
    width: 650px;
    padding: 0px;
}

.link {
   height: 15px;
   padding: 30px;
}

.link a {
    float: right;
    text-decoration: none;
    color: #666;
    font-size: .75rem;
}

.link a:hover {
    text-decoration: underline;
}

.form {
    height: 700px;
    width: 100%;
}

.user {
    padding: 40px;
}

.text {
    padding: 20px 0px;
}

.text h1 {
    font-size: 2rem;
}

.text p {
    color: #666;
    font-size: .75rem;
}


/* .input {
    
}

#btn {
    
}

*/



/* dash */

.dashboard {
    height: 700px;
    width: 1100px;
    background-color: #bbb;
}